* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("../images/fleisch.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
ul {
  list-style: none;
  text-align: left;
}

.swiper {
  flex: 1;
  display: flex !important;
  flex-wrap: wrap;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.swiper-slide {
  display: flex !important;
  box-sizing: border-box;
  margin-bottom: 0;
  bottom: 0;
}
.swiper-slide img {
  height: 100%;
}
.swiper-wrapper {
  box-sizing: border-box;
}
.swiper-btn {
  position: absolute !important;
  margin: 45% !important;
  margin-top: 15% !important;
  height: 25px !important;
  width: 25px !important;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0);
}
.swiper-btn::after,
.swiper-btn::before {
  color: #fff;
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  background-color: #b90101 !important;
}

#modeicon {
  width: 25px;
  cursor: pointer;
}
:root {
  --primary-color: #1f1f1f;
  --secondary-color: #000;
  --third-color: #b90101;
  --fourth-color: #6d0000;
  --text-color: #fff;
  --small-color: #a3a3a3;
}
.bright-theme {
  --primary-color: #aeaeae;
  --secondary-color: #d6d5d5;
  --text-color: #000;
  --small-color: #565656;
}

#modelbox {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 350px;
  background: #292929b2;
  overflow: hidden;
  border: 1px solid #ff3a3ae6;
  border-radius: 25px;
  display: none;
}
.offer-text {
  color: #fff;
  text-align: center;
  padding: 20px 40px 40px 40px;
  font-size: 14px;
  line-height: 22px;
}
.offer-text h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.offer-text small {
  display: inline-block;
  color: #ff2b4e;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
.offer-text form {
  text-align: center;
  margin-top: 30px;
}
.offer-text form input {
  border: 1px solid #ff3a3ae6;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 25px;
  background: #525252b8;
}
.close-icon {
  background: #292929b2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.inserted-img {
  max-width: 100%;
  width: auto;
}

nav {
  display: flex;
  background-color: #b90101;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
nav .logo {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  left: 5%;
  top: 10px;
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
  display: none;
}
nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .pdf::before {
  content: url("../images/Frame.png");
}
.pdf {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav a:hover {
  background: #810101;
  color: #ffffff;
}

.header2 {
  background-color: var(--primary-color);
}
.header2 p {
  display: inline;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  color: var(--text-color);
  padding: 13px 25px;
  text-decoration: none;
}

.background {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.background img {
  width: 100%;
  height: auto;
}
.textblock {
  z-index: 1;
  position: absolute;
  background-color: #0c0c0c57;
  padding: 100px;
  padding-left: 300px;
  max-width: 300px;
  top: 30%;
  left: 0;
  color: #ffffff;
}

.black-block {
  background-color: var(--secondary-color);
  height: auto;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 13px 25px;
}
.center-text {
  text-align: center;
}
.dryagetext {
  width: 350px;
}
.main-first {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  align-items: center;
  flex-direction: row;
}
.main-first-div {
  margin: 25px;
}
.main-second {
  justify-content: center;
  align-items: center;
  justify-content: row;
}
.main-second-div {
  margin: 25px;
  display: flex;
  flex-direction: row; /* Sorba rendezzük az elemeket */
  justify-content: center; /* Középre igazítás vízszintesen az elemek között */
  align-items: center;
  text-align: center; /* Szövegek középre igazítása */
}

.redbutton {
  color: #fff;
  border: 1px solid white;
  padding: 15px 20px;
  border-radius: 25px;
  background: #d80505e6;
}
.redbutton:hover {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
}

.ausz-block {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.ausz-text {
  text-align: center;
}

.gallery {
  margin: 20px;
}

.large-image {
  max-width: 100%;
  width: auto;
}

.thumbnails {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.thumbnail {
  max-width: 100%;
  width: auto;
  height: auto;
  cursor: pointer;
}

.thumbnail:hover {
  border: 2px solid #333;
}

.split-container {
  display: flex;
}

.left-side {
  flex-wrap: wrap;
  flex: 1;
  color: #f5f5f5;
  background-color: var(--third-color);
}
.right-side {
  flex: 1;
  display: flex;
  align-items: center;
}
.right-side img {
  width: 100%;
  height: 100%;
}

.white-button {
  color: #000;
  border: 1px solid #ff3a3ae6;
  padding: 15px 20px;
  border-radius: 25px;
  background: #fff;
}
.white-button:hover {
  background-color: #ff3a3a;
  color: #fff;
  border-color: #ff3a3a;
  cursor: pointer;
}
.buchentext {
  background-color: var(--third-color);
  color: #f5f5f5;
  margin: 150px;
  padding-left: 150px;
}

.spices-right {
  flex-wrap: wrap;
  color: #f5f5f5;
  padding: 13px 25px;
  flex: 1;
  background-color: var(--third-color);
}

.spices-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.spices-left img {
  width: 100%;
  height: 100%; /* Maintain aspect ratio */
}
.fleisch {
  width: auto;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small {
  color: var(--small-color);
}

footer {
  background-color: var(--third-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-contact {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-logo {
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.footer-line {
  position: relative;
  display: flex;

  justify-content: space-between;
  background-color: var(--fourth-color);
  color: #fff;
  padding: 10px;
  bottom: 0;
}

.icons {
  max-width: 15px;
}
.left-h2 {
  text-align: left;
}

.gray-container {
  display: flex;
  justify-content: space-between;
}

.gray-box {
  text-align: center;
  align-items: center;
  width: 20%;
  background-color: #ccc;
  padding: 20px;
  margin: 10px;
}
@media (max-width: 1660px) {
  .swiper-btn {
    position: absolute !important;
    margin: 40% !important;
    margin-top: 15% !important;
    height: 25px !important;
    width: 25px !important;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
  }
  .swiper-btn::after,
  .swiper-btn::before {
    color: #fff;
    font-size: 20px !important;
  }
  ul {
    text-align: center;
  }
  .buchentext {
    padding-left: 0px;
    margin: 10px;
    text-align: center;
  }
  .thumbnails {
    flex-wrap: wrap;
  }
  .thumbnails {
    flex: 25%;
  }
  /*.textblock {
    background-color: var(--secondary-color);
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    width: auto;
    max-width: 100%;
    padding: 60px;
    left: auto;
    color: var(--text-color);
    
  }*/

  /* position: absolute;
    background-color: #0c0c0c57;
    padding-left: 250px;
    max-width: 250px;
    left: 0;
    color: #ffffff;*/

  nav {
    justify-content: right;
    text-align: right;
    right: 0;
    align-items: right;
  }
  nav .logo {
    left: 5px;
  }
  ul {
    text-align: center;
  }
  footer ul {
    text-align: left;
  }
}

@media (max-width: 1400px) {
  .ausz-block {
    flex-direction: column;
  }
  .textblock {
    z-index: 1;
    background-color: #0c0c0c57;
    padding: 50px;
    padding-left: 200px;
    max-width: 200px;
    top: 15%;
    left: 0;
    color: #ffffff;
  }
  .swiper-btn {
    margin: 42% !important;
    margin-top: 15% !important;
  }
}
@media (max-width: 1250px) {
  nav {
    justify-content: right;
    text-align: right;
    right: 0;
    align-items: right;
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(128, 7, 7);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .mainMenu li {
    padding: 15px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: rgb(37, 37, 37);
    color: rgb(173, 173, 173);
  }
}

@media (max-width: 1024px) {
  .swiper-btn {
    display: none !important;
  }
  .swiper-pagination-bullet {
    display: none !important;
  }

  .thumbnails {
    flex-wrap: wrap;
  }
  .thumbnails {
    flex: 50%;
  }
  .main-first {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 50%;
  }
  .split-container {
    flex-direction: column; /* Change layout to a column for mobile */
  }
  .main-second-div {
    flex-direction: column; /* Mobil nézetben is sorba rendezzük az elemeket */
    flex: 50%;
  }
  .main-first-div {
    flex-wrap: wrap;
    flex: 50%;
  }
  footer {
    padding: 20px;
    flex-direction: column;
  }
  .footer-social {
    flex-direction: column;
  }
  .icons {
    display: none;
  }
  .footer-line {
    flex-direction: column;
    padding: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .left-h2 {
    text-align: center;
  }
  .buchentext {
    margin: 40px;
  }
  .textblock {
    background-color: var(--secondary-color);
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: auto;
    width: auto;
    max-width: 100%;
    padding: 60px;
    left: auto;
    color: var(--text-color);
  }
  .dryagetext {
    text-align: center;
  }

  .header2 img {
    display: none;
  }
  .header2 p {
    padding-top: 80px;
    display: block;
    text-align: right;
  }
  nav .logo {
    top: 0;
  }
}
